main{
    /* margin: 70px; */
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    /* background-image: linear-gradient(to bottom, rgb(247, 200, 153), rgb(194, 155, 170)); */

    background: radial-gradient(circle at center, rgb(247, 200, 153), rgb(194, 155, 170));
    transition: background 1s linear;
    overflow: hidden;
}

.hero::after{
  /* content is required when using :after */
  content: "";
  /* The animation */
  animation: grain 12s steps(10) infinite;
  /* The grainy image */
  /* background-image: url("/resources/grain-1.png"); */
  background-image: url("/resources/black-orchid.png");
  /* Specify a height and width above and beyond the page header for movement */
  height: 300%;
  width: 300%;
  /* We're using opacity in place of a transparent image */
  opacity: 0.3;
  /* We'll need this when the animation kicks in to hold the position of the texture */
  position: absolute;
  overflow: hidden;
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(0%, 5%) }
    30% { transform:translate(-5%, -25%) }
    40% { transform:translate(0%, 25%) }
    50% { transform:translate(-5%, 10%) }
    60% { transform:translate(0%, 0%) }
    70% { transform:translate(-5%, 15%) }
    80% { transform:translate(0%, 10%) }
    90% { transform:translate(-55%, 10%) }
  }

.sun-rays{
    position: absolute;
    left:0;
    top:0;
}

.our-model-title{
    position: relative;
    z-index: 5;
    padding-left: 10%;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: left;
    font-size: min(200px, 20vw);
    font-weight: 500;
    color: rgb(0, 0, 0);
    max-width: 50%;
    border-radius: 50%;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    /* -webkit-text-fill-color: rgb(0, 0, 0); Will override color (regardless of order) */
    /* -webkit-text-stroke: 3px black; */
}

.our-model{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.our-model__section{
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.our-model__section:nth-child(odd){
    text-align: left; 
    justify-content: flex-start; 
}

.our-model__section:nth-child(even){
    text-align: right; 
    justify-content: flex-end; 
}

.our-model__sub-title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
}

