@font-face {
    font-family: 'NeueMetana';
    src: url('/resources/fonts/NeueMetana-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMetanaBold';
    src: url('/resources/fonts/NeueMetana-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.home-bg-wrap {
    position: relative;
    width: 100vw;
    height: 150vh;
    overflow: hidden;
}

.home-bg__noise-layer {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(227, 222, 60), rgb(232, 167, 55) 40%, rgb(168, 94, 94));
    position: absolute;
    top: 0;
    left: 0;
}

.home-bg__noise-layer::after{
    /* content is required when using :after */
    content: "";
    /* The animation */
    animation: grain 12s steps(10) infinite;
    /* The grainy image */
    /* background-image: url("/resources/grain-1.png"); */
    background-image: url("/resources/black-orchid.png");
    /* Specify a height and width above and beyond the page header for movement */
    height: 300%;
    width: 300%;
    /* We're using opacity in place of a transparent image */
    opacity: 0.25;
    /* We'll need this when the animation kicks in to hold the position of the texture */
    position: absolute;
    overflow: hidden;
  }
  
  @keyframes grain {
      0%, 100% { transform:translate(0, 0) }
      10% { transform:translate(-5%, -10%) }
      20% { transform:translate(0%, 0%) }
      30% { transform:translate(-5%, -5%) }
      40% { transform:translate(0%, 0%) }
      50% { transform:translate(-5%, -5%) }
      60% { transform:translate(0%, 0%) }
      70% { transform:translate(-5%, -5%) }
      80% { transform:translate(0%, 0%) }
      90% { transform:translate(-5%, -5%) }
    }

.home-bg__overlay {
    display:block;
    width: 100%;
    height: 100%;
    background: var(--primary-bg);
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 100%;
    
    --circle-size: 300px;
    --circle-x: 50%;
    --circle-y: 50%;
    background: radial-gradient(
      circle var(--circle-size) at var(--circle-x) var(--circle-y),
      transparent 0%, #ffffff calc(var(--circle-size) * 2)
    );
}

.hero {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    z-index: 6;
}
.hero__text {
    position:relative;
    color: rgb(0, 0, 0);
    font-size: 6vw;
    font-family: 'NeueMetanaBold', sans-serif;
    line-height: 1.2;
    text-align: center;
}

.hero__about {
    position:relative;
    color: rgb(0, 0, 0);
    height: 300px;
    width: 55vw;
    font-size: 25px;
    font-weight: 400;
    color: rgb(42, 42, 42);
    text-align: center;
}

.thread{
    width:100vw;
    position: relative;
    background: linear-gradient(180deg, #fefefe 0%, #305cde 50% 100%);
    z-index: 10;
}

.thread__title{
    position: absolute;
    width: 100%;
    top: -0.5%;
    left: 2%;
    display:flex;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.thread__title-heading{
    width: 100%;
    font-size: 3vw;
    font-weight: 600;
    color: hsl(51, 100%, 40%);
    /* font-family: 'NeueMetanaBold', sans-serif; */
    line-height: 1.2;
    text-align: left;
    transform:rotate(10deg);
}

.thead__title-intro{
    width: 50%;
    font-size: 25px;
}

.thread-line{
    width: 100%;
    height: 100%;
    /* background-color:blue; */
}

.thread-line-path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    will-change: stroke-dashoffset;
    transition: stroke-dashoffset 0.15s;
}

.thread-communication{
    position:absolute;
    left: 37%;
    top: 23%;
    width: 30%;
}

.thread-communication__svg{
    fill:rgb(205, 219, 244);
}

.thread-postit{
    position:absolute;
    left: 35%;
    top: 50%;
    width: 20%;
}   

.thread-postit__svg-bg.--is-first{
    fill:rgb(220, 212, 179);
}  

.thread-postit__svg-bg.--is-second{
    fill:rgb(164, 212, 179);
}       

.thread-postit__svg-bg.--is-third{
    fill:rgb(187, 220, 231);
}       


.thread-wireframes{
    position:absolute;
    left: 50%;
    top: 85%;
    width: 25%;
}    

.thread__text-block{
    position:absolute;
    font-size: 25px;
}

.thread__text-block.--is-first{
    left: 15%;
    top: 10%;
    width: 40%;
    text-align: center;
}

.thread__text-block.--is-second{
    left: 60%;
    top: 35%;
    width: 30%;
    text-align: right;
}

.thread__text-block.--is-third{
    left: 10%;
    top: 48%;
    width: 20%;
    text-align: left;
}