main{
    /* margin: 70px; */
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    /* background-image: linear-gradient(to bottom, rgb(247, 200, 153), rgb(194, 155, 170)); */

    background: radial-gradient(circle at center, rgb(247, 200, 153), rgb(194, 155, 170));
    transition: background 1s linear;
    overflow: hidden;
}

.sun-rays{
    position: absolute;
    left:0;
    top:0;
}

.our-approach-title{
    position: relative;
    z-index: 5;
    padding-left: 10%;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: left;
    font-size: min(200px, 20vw);
    font-weight: 500;
    color: rgb(0, 0, 0);
    max-width: 50%;
    border-radius: 50%;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    /* -webkit-text-fill-color: rgb(0, 0, 0); Will override color (regardless of order) */
    /* -webkit-text-stroke: 3px black; */
}

.our-approach__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:70vw;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.our-approach{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.our-approach__section{
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.our-approach__section:nth-child(odd){
    text-align: left; 
    justify-content: flex-start; 
    margin-right: auto;
}

.our-approach__section:nth-child(even){
    text-align: right; 
    justify-content: flex-end; 
    margin-left: auto;
}

.our-approach__sub-title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 65px;
}

.our-approach__text{
    font-size: 22px;
}



.reveal-right{
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.7s ease; 
    transition-delay: 100ms;
}

.reveal-right.active {
clip-path: inset(0 0% 0 0); 
}  

.reveal-left{
clip-path: inset(0 0 0 100%);
transition: clip-path 0.7s ease; 
transition-delay: 100ms;
}

.reveal-left.active {
clip-path: inset(0 0 0 0%); 
}