main{
    /* margin: 70px; */
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(circle at center, rgb(247, 200, 153), rgb(155, 182, 194));
    /* transition: background 1s linear;  */
}

.portfolio-title{
    position: relative;
    z-index: 5;
    /* padding-left: 10%;
    padding-right: 100px; */
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    font-size: min(200px, 10vw);
    font-weight: 500;
    color: rgb(0, 0, 0);
    max-width: 100%;
    border-radius: 50%;
    border-style: solid;
    border-width: 0px;
    border-color: black;
}

.portfolio{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    justify-content: center;
    gap: 100px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 200px;
    padding-right: 200px;
}

.portfolio__item_title{
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
}

.portfolio__item{
   
}

.portfolio__item-photo{
    
}

.portfolio_item-photo-img{
    width: 100%;
    height: auto;
}    
